@model Models.ModelVM

@{
    ViewBag.Title = "CreateModel";
}

<h4>EditModel, ManageModels</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h5>Existing model data: </h5>
        <dt>@Html.Label("Model id:") @Html.DisplayFor(m => m.ModelID)</dt>
        <dt>@Html.Label("Model name:") @Html.DisplayFor(m => m.ModelName)</dt>
        <dt>@Html.Label("Make:") @Html.DisplayFor(m => m.MakeName)</dt>
        <dt>@Html.Label("Drivetrain:") @Html.DisplayFor(m => m.DrivetrainType)</dt>
        <dt>@Html.Label("Chassis:") @Html.DisplayFor(m => m.ChassisType)</dt>
        <dt>@Html.Label("Trim:") @Html.DisplayFor(m => m.Trim)</dt>
        <hr/>

        <h5>Edit model below: </h5>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @*<div class="form-group">
                @Html.LabelFor(model => model.ModelID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModelID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModelID, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @Html.HiddenFor(model => model.ModelID)
        <div class="form-group">
            @Html.LabelFor(model => model.ModelName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModelName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ModelName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakeID, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MakeID, Model.MakeDto.SelectList, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.MakeID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChassisID, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ChassisID, Model.ChassisDto.SelectList, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ChassisID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DrivetrainID, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DrivetrainID, Model.DrivetrainDto.SelectList, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DrivetrainID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Trim, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trim, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Trim, "", new {@class = "text-danger"})
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.MakeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MakeName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MakeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChassisType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChassisType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChassisType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DrivetrainType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DrivetrainType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DrivetrainType, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>