@model Models.ExMessageVM

@{
    ViewBag.Title = "NoQuiere";
}

<h2>NoQuiereTrabajar!  BOOM!  - Either Something Went Wrong or view is under construction!!!</h2>

<img class="irc_mi" style="margin-top: 45px;" src="https://s3.amazonaws.com/rapgenius/1292232761_paul_wall.jpg" width="290" height="290">



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ExMessageVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ExMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ExMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExMessage, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
